@import "tailwindcss";

:root {
  --background: #C9DDDC;
  --foreground: #171717;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
} 

@theme {
  --color-sign: #2F7CBB;
  --font-sign: 'Roboto', sans-serif;
/*btnHeader*/
  --color-btn-sign: #61B3F6;
  --color-btn-hover-sign: #61B3F6;
  --color-btn-active-sign: #61B3F6;
  --color-btn-login: #0B1D75;
  --color-btn-login-hover: #0B1D75; 
  --color-btn-login-active: #0B1D75;
  --font-btn: 'Inter', sans-serif;
/*coverText*/
  --color-cover-text: #1D1B20;
  --font-cover-text: 'Roboto', sans-serif;
/*coverDescriptionText*/
  --color-cover-description: #000000;
  --font-cover-description: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter_24pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
